@page "/games/RockPaperScissors"
@using DevAndersen.BlazorGames.Core.GameHandlers
@using DevAndersen.BlazorGames.Site.ViewExtensions
@inherits BasePage
@implements IDisposable
@inject IIdentityService identityService
@inject GameLobby gameLobby

<div class="container-lg pt-4 d-flex flex-wrap bg-danger">
    <div class="col-12 col-sm-8 bg-warning">Game view goes here</div>
    <div class="col-12 col-sm-4 px-2">
        <Chat Handler="Handler" Identity="Identity" />
    </div>
</div>

@code
{
    public override string PageTitle => GameDefinition.GetGameDefinition(GameIdentity.RockPaperScissors)?.Name ?? string.Empty;

    public PlayerIdentity? Identity { get; set; }

    public RockPaperScissorsHandler? Handler { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Identity = await identityService.LoadIdentityAsync();
            Handler = gameLobby.GetGameHandler<RockPaperScissorsHandler>(Identity.Id);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        Handler?.StopGame();
    }
}
