@page "/games/{GameId:int}"
@using DevAndersen.BlazorGames.Core.GameHandlers
@using DevAndersen.BlazorGames.Site.ViewExtensions
@inherits BasePage
@implements IDisposable
@inject IIdentityService identityService
@inject GameLobby gameLobby

<div class="container-lg p-2 d-flex h-100 flex-wrap">
    <div class="col-12 col-sm-8 bg-secondary">Game view goes here</div>
    <div class="col-12 col-sm-4 px-2">
        <Chat Handler="Handler" Identity="Identity" />
    </div>
</div>

@code
{
    [Parameter]
    public int GameId { get; set; }

    public override string PageTitle => GameDefinition.GetGameDefinition((GameIdentity)GameId)?.Name ?? string.Empty;

    public PlayerIdentity? Identity { get; set; }

    public GameHandler? Handler { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Identity = await identityService.LoadIdentityAsync();
            Handler = gameLobby.GetGameHandler<GameHandler>(Identity.Id);
            if (Handler != null)
            {
                Handler.UpdateNotifier.OnUpdate += Update;
            }
            StateHasChanged();
        }
    }

    public void Update()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (Handler != null)
        {
            Handler.UpdateNotifier.OnUpdate -= Update;
            Handler.StopGame();
        }
    }
}
