@page "/"

<PageTitle>Blazor Games</PageTitle>

<h1 class="text-center user-select-none">Blazor Games</h1>

<div class="container-lg pt-4 d-flex flex-wrap justify-content-center">
    <div class="col-12 col-x col-sm-6 col-md-4 p-4">
        <div class="p-4 text-center h-100 rounded-2 game-tile">
            <div class="fs-1 fw-bold user-select-none">Game icon</div>
            <div class="fs-3 fw-bold user-select-none">Game title</div>
        </div>
    </div>
</div>
