@inherits LayoutComponentBase

<PageTitle>@PageTitle</PageTitle>
<h1 class="pt-2 text-center user-select-none">@PageTitle</h1>

<div class="pt-3 flex-fill pb-4">
    <CascadingValue Value="this">
        @Body
    </CascadingValue>
</div>

@code
{
    public string PageTitle { get; set; } = "Blazor Games";

    public void UpdatePageTitle(string pageTitle)
    {
        PageTitle = pageTitle;
        StateHasChanged();
    }
}
